@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  overflow: hidden;
}

/* <-----LogIn Start-----> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.authentication-login {
  box-sizing: border-box;
  width: 448px;
  height: 100vh;
  flex-shrink: 0;
  padding-bottom: 100px;
  font-family: "Nunito";
}

.login-bg {
  background: #f7f7f8;
}

.login-form {
  width: 448px;
  height: 100vh;
  flex-shrink: 0;
  background: #fff;
}

.page-wrapper {
  background: #f7f7f8;
  /* width: 1440px;
height: 960px; */
}

.logo {
  width: 35px;
  height: 28px;
  flex-shrink: 0;
  margin: 20px;
}
.settingLogo {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 50px;
  margin-right: 8px;
  object-fit: cover;
}

.myot {
  color: #000;
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.login-desc {
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-bottom: 30px;
  margin-top: -15px;
}

.img-login {
  margin-left: 200px;
  width: 585.418px;
  height: 557.422px;
  flex-shrink: 0;
  padding: inherit;
}

.btn {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 348px;
  height: 50px;
  /* flex-shrink: 0; */
  background-color: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  /* line-height: normal; */
}

.download-btn {
  width: 106px;
  height: 39px;
  align-items: center;
  background-color: #3e51ff;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  border: none;
}
.view-details {
  width: 1168px;
  margin-left: 20px;
  height: 850px;
  border: 2px solid gray;
  border-radius: 10px;
}
.jLogo {
  width: 30px;
  height: 44px;
  margin-left: 50px;
}
.preview {
  font-size: 24px;
  font-weight: 700;
}
.view-text-1 {
  width: 231px;
  height: 51px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-left: 50px;
  margin-top: 20px;
  color: #000;
}
.view-text-2 {
  width: 1108px;
  height: 268px;
  font-size: 12px;
  font-weight: 400;
  /* line-height: 20px; */
  margin-left: 50px;
  margin-top: 20px;
  color: #000;
}
.sign {
  width: 89px;
  height: 55px;
  margin-left: 50px;
  margin-top: -80px;
}
.sign-2 {
  margin-left: 950px;
}
.received-docs-title {
  font-size: 16px;
  font-weight: 600;
}
.received-docs {
  /* border: 2px solid gray; */
  padding: 6px;
  border-radius: 10px;
  background-color: #fafafb;
  width: 950px;
  height: 900px;
}
.docs-info {
  background-color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
}
.img_profile {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 10px;
}
.docs-data {
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}
.body-data {
  margin-top: -14px;
  font-size: 14px;
  font-weight: 600;
}
.head-data {
  font-size: 10px;
  margin-top: 10px;
}
.comment {
  margin-top: 20px;
  font-size: 12px;
}
.form-login {
  padding: inherit;
}

.form-control {
  width: 348px;
  height: 50px;
  flex-shrink: 0;
  background-color: #ffffff;
  stroke-width: 1px;
  /* stroke: #e0e2e7; */
}

.form-lable {
  color: #000;
  /* font-family: Nunito; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.remember {
  display: flex;
  justify-content: space-between;
  width: 348px;
  height: 50px;
  flex-shrink: 0;
}

.remember-me {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reset-password {
  color: #605bff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

/* <-----LogIn End-----> */

/* <-----Forgot password Start-----> */

.reset-pass-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-shrink: 0;
  /* border: none; */
}

.card-forgot {
  border-radius: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;
  /* text-align: center; */
  width: 650px;
  height: 600px;
  padding: 100px;
}

.recover-text {
  color: #000;
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 50px;
}

.reset-pass-desc {
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -15px;
  margin-bottom: 50px;
}

.form-reset {
  width: 502px;
  height: 50px;
  margin-bottom: 20px;
}

.reset-success {
  width: 169px;
  height: 50px;
  flex-shrink: 0;
}

/* <-----Forgot password End-----> */

/* <-----Home page start-----> */

.home-page {
  width: 1440px;
  height: 1047px;
  background-color: #fff;
}

.middle-section {
  display: flex;
  width: 944px;
  height: 100vh;
}

.left-sidebar {
  width: 212px;
}

.sidebar {
  /* position: sticky; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 1; */
  overflow-y: auto;
  height: 100%;
  max-height: 100vh;
  /* scrollbar-color: transparent; */
  /* overflow-y: auto; */
  /* flex-shrink: 0; */
  background-color: #fff;
}

.nav-link {
  white-space: nowrap;
}

.middle-content {
  height: 100%;
  overflow-y: auto;
  max-height: 100vh;
  scroll-behavior: smooth;
  scrollbar-color: white;
}

.sidebarnav {
  display: flex;
  width: 944px;
  height: 72px;
  padding: 22px 184px 22px 600px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.card {
  width: 202px;
  height: 112px;
  flex-shrink: 0;
}
.card-content {
  width: 180px;
  height: 0px;
  color: #051036;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.table-name {
  color: #051036;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.table-searchbar {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  /* width: 892px; */
  padding: 2px;
  /* align-items: center; */
  /* gap: 16px; */
  border-radius: 8px;
  background: #f7f9fb;
  align-content: center;
  height: 50px;
}

.hide-selected {
  display: flex;
  height: 28px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}

.search-bar {
  display: flex;
  width: 160px;
  height: 28px;
  padding: 4px 6px;
  align-items: center;
  border: none;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
}

.table-search-bar {
  display: flex;
  width: 160px;
  height: 28px;
  padding: 4px 6px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
}

/*  */

.checkbox-table {
  width: 12px;
  height: 12px;
  margin: 3px 4px;
}

.table-head {
  display: flex;
  /* width: auto; */
  height: 37px;
  /* align-items: center; */
  border-bottom: solid rgba(0, 0, 0, 0.4);
  /* border-style: solid; */
  border-width: 2px;
  /* border- */
}
.table-head-dashboard {
  display: flex;
  width: auto;
  height: 37px;
  width: 892px;
  align-items: center;
}

.th-text {
  color: rgb(0, 0, 0);
  opacity: 1;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
}

.td-text {
  color: #051036;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-align: left;
}
.table-row {
  width: 840px;
}

.right-sidebar {
  padding: 20px;
  height: 100%;
  width: 300px;
  /* height: 1047px; */
  flex-shrink: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: scroll;
  background-color: #fff;
  border-left: solid rgb(213, 212, 212) 1px;
}

.app-header {
  display: flex;
  width: 500px;
  height: 72px;
  margin-left: -25px;
  padding: 0;
  background-color: transparent;
  /* padding: 22px 184px 22px 600px; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* flex-shrink: 0; */
}

.management {
  border-radius: 16px;
  margin-left: 0px;
  width: 100%;
  padding-top: 20px;
  /* justify-content: space-around; */
  border-radius: 16px;

  text-align: center;
}
.management-text {
  margin-top: 10px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  display: inline-flex;
  height: 28px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.card-1 {
  border-radius: 16px;
  background: #f7f9fb;
  width: 432px;
  height: 250px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.card-2 {
  width: 202px;
  height: 250px;
  background: #fff4ea;
  border-radius: 16px;
}
.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 202px;
  height: 250px;
  border-radius: 16px;
  background: #f7f9fb;
}

.cardss {
  width: 892px;
}

.text-card {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: -15px;
  font-family: nunito;
}

.calendar-screen {
  width: 1100px;
  background: #fafafb;
}

.mini-calendar {
  width: 206px;
  height: 222px;
  flex-shrink: 0;
}

.calendar-section {
  width: 1228px;
  /* margin-left: -100px; */
  background: #fafafb;
}

.calendar-header {
  margin-left: -60px;
  width: calc(100% - 200px);
  background-color: white;
}

.users-table {
  width: 944px;
}

.calendar-btn {
  width: 206px;
  height: 45px;
  flex-shrink: 0;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 10px;
  background: #3e51ff;
}

.header-card-text {
  color: #051036;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.table-body-desc {
  display: flex;
  color: #051036;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  /* align-content: center; */
  align-items: center;
}

.navbar {
  display: flex;
  width: 944px;
  height: 72px;
  padding: 22px 184px 22px 600px;
  justify-content: flex-end;
  align-items: center;
  /* flex-shrink: 0; */
  border-bottom: 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-left: -30px;
}

.page-navigation {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.table-tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table-tasks > tr > th {
  display: flex;
  width: 210px;
  height: 43px;
  padding: 8px 16px 8px 0px;
  align-items: center;
  flex-shrink: 0;
}

.sidebar-btn {
  color: #000;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  white-space: nowrap;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.statics_box {
  white-space: nowrap;
  overflow: hidden;
  /* box-shadow: 0px 0px 8px 0px #D0D0D880; */
  background-color: #fff;
  /* height: 124px; */
  /* display: flex; */
  align-items: flex-start;
  border-radius: 14px;
  padding: 18px 20px;
  justify-content: space-between;
}

.dashboard-card {
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  align-items: flex-start;
  border-radius: 14px;
  padding: 18px 20px;
  justify-content: space-between;
}
.dashboard-card2 {
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  background: #fff4ea;
  align-items: flex-start;
  border-radius: 14px;
  padding: 18px 20px;
  justify-content: space-between;
}
.dashboard-card3 {
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  align-items: flex-start;
  border-radius: 14px;
  padding: 35px 20px;
  justify-content: space-between;
}

.dashboard-card-img {
  width: 100%;
  height: auto;
}
.dashboard-card3 > table {
  height: inherit;
}

.dashboard-card-text {
  color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.dashboard-card2-text {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.dashboard-card3-text {
  color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.statics_icon span img {
  max-height: 28px;
}
.statics_left strong {
  display: block;
  color: #3a3a3d;
  font-size: 25px;
  font-weight: bold;
  line-height: 29.3px;
  margin-bottom: 14px;
}
.statics_left span {
  font-size: 16px;
  color: #8a8b9f;
  text-transform: uppercase;
  line-height: 18.75px;
  display: block;
}

.card-text-count {
  color: #051036;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 150% */
}

.card-insights {
  color: #051036;
  text-align: right;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.card-clr-1-3 {
  background: #e3f5ff;
}
.card-clr-2-4 {
  background: #e5ecf6;
}

.table_comman .table {
  /* display: flex; */
  width: 842px;
  flex-direction: column;
  align-items: flex-start;
  /* box-shadow: 0px 0px 8px 0px #d0d0d880; */
  margin: 0;
  border-radius: 14px;
}
.table_comman tr th {
  padding: 16px 22px;
  /* background-color: #F0F1FF; */
  font-size: 16px;
  /* color: #282C36; */
  text-align: center;
  /* border: 0; */
  white-space: nowrap;
  text-transform: capitalize;
}
.table_comman tr th:first-child {
  border-radius: 14px 0 0 0;
  text-align: left;
}
.table_comman tr th:last-child {
  border-radius: 0 14px 0 0;
}
.table_comman .table-responsive {
  /* box-shadow: 0px 0px 8px 0px #d0d0d880; */
  border-radius: 14px;
}
.table_comman tbody tr td {
  padding: 0px;
  padding-left: 30px;
  background-color: #fff;
  font-size: 15px;
  /* color: #6E7594; */
  text-align: left;
  /* border: 0; */
  /* font-weight: 500; */
  vertical-align: middle;
  white-space: nowrap;
  /* border-bottom: 1px solid #e2e2ed; */
}

.table_comman tbody tr td:first-child {
  text-align: left;
}
/* .table_comman tbody tr td:nth-child(2){
  text-align: left;
} */
.table_comman tbody tr:last-child td:first-child {
  border-radius: 0 0 0 14px;
}
.table_comman tbody tr:last-child td:last-child {
  border-radius: 0 0 14px 0;
}
.table_comman .table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 50%;
}
.table_comman .table-responsive::-webkit-scrollbar-thumb {
  /* background: #FF7622; */
  border-radius: 50px;
}
.table_comman .table-responsiv::-webkit-scrollbar-thumb {
  background: #ff7622;
  border-radius: 50px;
}
.table_comman .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #ff7622;
}
.right-sidebar-item {
  padding-left: 3px;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.right-sidebar-heading {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.profile {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;

  height: 72px;
  color: #00000066;
  align-items: center;
  flex-shrink: 0;

  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.sidebar-time {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  /* height: 18px; */
  align-self: stretch;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.4);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.day-time {
  white-space: nowrap;
  padding-top: 20px;
  /* margin: auto; */
  color: #030229;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
  /* height: 40px; */
}

.current-day {
  color: #030229;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-9am {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 163px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ff8f6b;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.event-12pm {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 163px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #26c0e2;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.event1-4pm {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 163px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3a974c;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.event2-4pm {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 163px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ff8f6b;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.event-11pm {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 163px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #605bff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.users-table {
  height: 400px;
}

.mini-calendar {
  border: none;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 206px;
  height: 222px;
  border-radius: 7px;
  border: 1px solid #fafafb;
  flex-shrink: 0;
}

.create-task-btn {
  border: none;
  width: 206px;
  height: 45px;
  /* flex-shrink: 0; */
  border-radius: 10px;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dropdown-item {
  color: #000;

  /* 14 Regular */
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 142.857% */
}

.dropdown-menu {
  width: auto;
  /* height: 146px; */
  flex-shrink: 0;
}

.comment-img {
  margin: 8px;
  width: 20px;
  /* height: 20px; */
  flex-shrink: 0;
}
.comment-btn {
  display: inline-flex;
  padding: 10px 20px;
  border: none;
  color: white;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #3e51ff;
}

::-webkit-scrollbar {
  display: none;
}

.modal-dialog-users {
  width: 1144px;
  height: 872px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #eff4fa;
  background: #fff;
  max-width: auto;
}

@media (min-width: 576px) {
  .modal-dialog-users {
    max-width: none;
    margin-right: auto;
    margin-left: auto;
  }
}
.modal-input {
  /* width: inherit; */
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #eff4fa;
  background: #fff;
}
.user-modal-btn {
  color: #fff;
  border: none;
  width: 88px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #3e51ff;
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
}
.user-modal-btn2 {
  /* color: #fff; */
  border: none;
  width: 88px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 8px;
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  background: transparent;
  font-weight: 400;
  line-height: 16px;
}

.modal-dialog-department {
  width: 670px;
}
@media (min-width: 576px) {
  .modal-dialog-department {
    max-width: none;
    margin-right: auto;
    margin-left: auto;
  }
}

.weekdays {
  color: #030229;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.day {
  border-right: solid 1px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 127px;
  flex-shrink: 0;
  color: #030229;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.7;
  text-align: center;
}
.prev-day {
  border-right: solid 1px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 127px;
  flex-shrink: 0;
  color: #030229;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.3;
}
.next-day {
  border-right: solid 1px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 127px;
  flex-shrink: 0;
  color: #030229;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.3;
}

.today {
  border-right: solid 1px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 127px;
  flex-shrink: 0;
  color: #ff8f6b;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-1 {
  margin: 2px;
  padding: 3px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #26c0e2;
  color: #fff;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.event-2 {
  margin: 2px;
  padding: 3px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ef37ff;
  color: #fff;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-3 {
  margin: 2px;
  padding: 3px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ff8f6b;
  color: #fff;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.event-more {
  padding: 3px;
  margin: 2px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #3e97ff;
  /* opacity: 0.1; */
  color: #3e97ff;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.active_class {
  border-top: solid 2px #ff8f6b;
}
.nav_active {
  background: #ebf5ed;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.nav_active .sidebar-btn {
  color: #3e51ff !important;
  font-weight: bold;
}

.day-year {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.prev-day-year {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.4;
}

.header-chats {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-chats img {
  width: 32px;
  height: 32px;
}

.search-box-chats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  height: 44px;
  background: #f7f7f8;
}

.chats-searchbar {
  background-color: #f7f7f8;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat-sections {
  display: flex;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat-personal {
  color: #3e51ff;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: solid 2px #3e51ff;
}

.sender-profile {
  width: 50px;
  height: 50px;
}

.sender-name {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: start;
}

.text-recived {
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
  margin-top: -8px;
}

.people-chat-time {
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.people-chat {
  border-top: solid 2px rgba(0, 0, 0, 0.051);
  margin-top: -18px;
  padding-top: 20px;
  margin-bottom: 18px;
}

.main-chat-header {
  display: flex;
  justify-content: space-between;
}

.main-chat-profile {
  width: 36px;
  height: 36px;
}

.main-chat-settings {
  width: 36px;
  height: 36px;
}

.text1 {
  width: 192px;
  height: 34px;
  margin-top: 150px;
  margin-left: 30px;
  border-radius: 5px 5px 5px 0px;
  background: #3e97ff;
}

.text1 p {
  color: #fff;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  text-align: start;
}

.text2 {
  width: 352px;
  height: 65px;
  margin-top: 5px;
  margin-left: 30px;
  border-radius: 16px 16px 16px 0px;
  background: #3e97ff;
}

.text2 p {
  color: #fff;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  text-align: start;
}

.chat-time {
  color: #fff;
  text-align: right;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  opacity: 0.5;
  margin-top: -10px;
  margin-right: 20px;
}

.message-box-chats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  height: 60px;
  background: #f7f7f8;
}

.right-cal-event {
  margin-bottom: -15px;
  width: 97px;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
  color: #000;
  background: #e5ecf6;
}

.preview-cert-txt {
  color: #000;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.preview-dwld-btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  border: none;
  gap: 10px;
  border-radius: 10px;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.certificate-img {
  width: 950px;
  height: 675px;
}

.preview-edit-btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #efefef;
  background: #fafafb;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.template-action {
  width: 1128px;
  height: 50px;
  /* flex-shrink: 0; */
  border-radius: 10px;
  border: 1px solid #e0e2e7;
  background: #f7f7f8;
  color: #4d4d4d;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboard-graph {
  width: 100%;
  height: auto;
}

.react-calendar__navigation button {
  min-width: 0px;
  background: none;
}

.templates-leave {
  color: #000;
}

.profile-txt {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.profile-edit-btn {
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
}

.profile-info {
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.05px;
  opacity: 0.8;
}

.profile-data {
  margin-top: -12px;
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.06px;
}

.profile-salary-slip {
  color: #3e51ff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.07px;
}

.anouncement-text {
  margin: auto;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.07px;
}

.new-feedback {
  margin-top: auto;
  margin-bottom: auto;
  color: #999;
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.065px;
}

.announcement-time {
  /* margin-left: 10px; */
  color: #656668;
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.065px;
}

.profile-txt {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.profile-edit-btn {
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
}

.profile-info {
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.05px;
  opacity: 0.8;
}

.profile-data {
  margin-top: -12px;
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.06px;
}

.profile-salary-slip {
  color: #3e51ff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.07px;
}

.profile-card-title {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.profile-edit-input {
  /* width: 430px; */
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e0e2e7;
  background: linear-gradient(0deg, #f7f7f8 0%, #f7f7f8 100%), #fff;

  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.4%; /* 15.736px */
}

.profile-edit-submit {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 206px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.help-text {
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 192.857% */
}

.help-support-btn1 {
  display: inline-flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #e0e2e7;
  background: #fff;
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.help-support-btn {
  display: inline-flex;
  height: 36px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.help-support-heading {
  margin-bottom: 0px;
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 20px; 125% */
}

.help-support-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.ticket-number {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 87.5% */
}

.ticket-question {
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}

.ticket-post-time {
  width: 150px;
  color: #999;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 116.667% */
}

.ticket-link {
  color: #3e51ff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-decoration-line: underline;
}

.help-support-dd-img {
  margin-right: 10px;
  margin-bottom: 3px;
  width: 12px;
  height: 12px;
}

.profile-card-title {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.profile-edit-input {
  /* width: 430px; */
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e0e2e7;
  background: linear-gradient(0deg, #f7f7f8 0%, #f7f7f8 100%), #fff;

  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.4%; /* 15.736px */
}

.profile-edit-submit {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 206px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.help-text {
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 192.857% */
}

.help-support-btn1 {
  display: inline-flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #e0e2e7;
  background: #fff;
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.help-support-btn {
  display: inline-flex;
  height: 36px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.help-support-heading {
  margin-bottom: 0px;
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 20px; 125% */
}

.help-support-text {
  text-align: start;
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.view-page {
  margin-top: 80px;
  margin-left: 300px;
}
.contact-mini-logo {
  width: 28px;
  height: 28px;
}

.contact-txt {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
  text-align: start;
}

.contact-form-btn {
  width: 515px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-mini-logo {
  width: 28px;
  height: 28px;
}

.contact-txt {
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.32px;
  text-align: start;
}

.contact-txt1 {
  color: #dd5471;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.contact-img {
  margin-top: 50px;
  width: 380px;
  height: 412px;
}

.settings-txt {
  text-align: start;
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.commenter-name {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.comment-time {
  color: #999;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-left: 10px;
}

.comment-avatar {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 40px;
}

.comment-txt {
  text-align: start;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.reply-btn {
  margin-top: 10px;
  width: 124px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.comment-reply {
  margin: 10px;
  text-align: start;
  width: 570px;
  height: 95px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #3e51ff;
  background: #fff;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.you-btn {
  margin: auto;
  width: 36px;
  height: 19px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: #3e51ff;
  color: var(--White, #fff);
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.comment-write {
  text-align: start;
  width: 735px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #3e51ff;
  background: #fff;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.update-comment-btn {
  margin-top: 10px;
  width: 124px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.delete-comment-btn {
  color: #ff4747;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.comment-inbox {
  width: 600px;
  height: 146px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #eff4fa;
  background: #fff;
}

.modal-user-details {
  width: 900px;
}

.user-view-table {
  margin-left: -16px;
  width: 900px;
}

.view-user-info {
  color: #000;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.view-user-data {
  color: rgba(0, 0, 0, 0.4);
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.checkbox-view-user {
  background-color: #000000;
}

.signature-img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.add-img-btn {
  display: inline-flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: none;
  background: #dedefa;
  color: #3e51ff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}

.notify-admin-btn {
  margin-top: 100px;
  width: 206px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: #3e51ff;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.import-img-card {
  border-radius: 10px;
  border: 2px dashed #e0e2e7;
  background: #f7f7f8;
}

.color-palete {
  display: flex;
  width: 45%;
  height: auto;
}

.otp-input {
  width: 75px;
  height: 50px;
  flex-shrink: 0;
  background: #f7f7f8;
  border-radius: 10px;
  /* border: none; */
  border-color: #e0e2e7;
  border-style: solid;
  text-align: center;
}

.not-recive-otp {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.resend-otp {
  color: #3e51ff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.template-edit-head-dd {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}
.template-edit-head-arrow {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.edit-temp-font {
  color: #000;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.edit-menubar-heading {
  text-align: start;
  color: #737578;
  font-feature-settings: "salt" on, "liga" off;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  opacity: 0.5;
}

.menubar-subheads {
  color: #000;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sub-heading-menubar {
  background-color: rgb(91, 146, 255, 0.05);
  padding: 0px;
}

.requester-profile-pic {
  width: 24px;
  height: 24px;
  border-radius: 16px;
  margin: 10px;
}

.table-profile-pic {
  width: 24px;
  height: 24px;
  border-radius: 16px;
  margin: 10px;
}

.dashed_border {
  border: 2px #999 dashed;
  background-color: #f7f7f8;
  border-radius: 10px;
}

.blue_btn {
  padding: 10px 14px;
  border-radius: 10px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #3e51ff;
  background: #dedefa;
  border: none;
  outline: none;
}

.setting_logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.w_100_h_100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-section {
  position: absolute;
  background: white;
  z-index: 10;
}
.progress-bar {
  background: rgba(0, 0, 0, 0.05);
  height: 28px;
  width: 160px;
  margin: 0 0 10px 0;
  border-radius: 8px;
  overflow: hidden;
}

.progress-container {
  position: relative;
  height: 100%;
}

.progress {
  background-color: #c6c7f8;
  color: black;
  font-weight: 600;
  line-height: 28px;
  height: 100%;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -50%);
  color: #333; /* Choose a color that contrasts well with your progress bar color */
  font-weight: 600;
}
.doc-req-bar {
  border-radius: 0px 4px 4px 0px;
  background: rgba(0, 0, 0, 0.1);
  height: 6px;
  flex-shrink: 0;
}
.w_20_h_20 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
.w_50_h_50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.task_reply textarea {
  border: #3e51ff dashed 2px;
  border-radius: 5px;
  outline: none;
}

.mdb_table {
  font-family: "Nunito", sans-serif; /* Change 'Nunito' to the appropriate font name if needed */
}

.mdb_table thead th {
  border: none;
}

/* Remove borders from table body rows */
.mdb_table tbody tr {
  border: none;
}

/* Remove borders from table data cells */
.mdb_table tbody td {
  border: none;
}

.mdb-datatable-filter {
  position: absolute;
  top: 35px;
  margin-right: 20px;
}
.mdb-datatable-filter input {
  width: 100%;
  height: 100%;
}

.dataTables_paginate {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.dataTables_wrapper .pagination-page.active span {
  display: none !important;
}

.pagination .page-item.active .page-link {
  color: #131111;
  background-color: #ebf5ed !important;
  border-radius: 0.125rem;
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  transition: all 0.2s linear;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem !important;
  font-weight: 400;
}
.sr-only {
  display: none !important;
}

.task_reply textarea {
  border: #3e51ff dashed 2px;
  border-radius: 5px;
  outline: none;
}
.textarea_h_100px {
  min-height: 100px !important;
}
.nav.nav-tabs {
  font-size: 14px !important;
  text-decoration: none !important;
  font-family: "Nunito" !important;
  border: none !important;
}

.nav.nav-tabs .nav-link {
  color: black !important;
}
.custom-progress {
  accent-color: black;
}
.custom-progress2 {
  /* accent-color: #c6c7f8; */
  accent-color: rgb(0, 0, 0);
  height: 50px !important;
}

.custom-progress2 {
  position: relative;
}

.custom-progress2::after {
  content: attr(value) "%" !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0f1048;
  font-weight: bold;
}

.signature_logos {
  height: 100px;
}
